.person {
  margin-top: 20px;
  min-height: 80vh;
  position: relative;
  -webkit-print-color-adjust: exact;
}

.acoes {
  text-align: end;
}

.botoes {
  margin-left: 4px;
  margin-right: 4px;
}

.tableskin {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-collapse: collapse;
}
thead {
  background-color: rgba($color: #3f51b5, $alpha: 0.4);
}
th {
  padding: 10px !important;
}
tbody {
  background-color: rgba($color: #3f51b5, $alpha: 0.15);
}
td {
  padding: 15px;
  text-align: left;
}
tbody tr:nth-child(even) {
  background-color: #fff;
}
.listra {
  background: cyan;
  text-align: center;
}
