<div
  class="modal fade"
  id="detail"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content detail-css">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Details Expense Control
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header">Expense Control Informations</div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr class="table-rows">
                  <td class="header-dialog-colunm">Person:</td>
                  <td>
                    {{ expenseControlSelected?.person?.name }}
                  </td>
                </tr>
                <tr class="table-rows">
                  <td class="header-dialog-colunm">Description:</td>
                  <td>
                    {{ expenseControlSelected?.description }}
                  </td>
                </tr>
                <tr class="table-rows">
                  <td class="header-dialog-colunm">Value:</td>
                  <td>
                    {{ expenseControlSelected?.value | currency: "BRL":true }}
                  </td>
                </tr>
                <tr class="table-rows">
                  <td class="header-dialog-colunm">Expense Date:</td>
                  <td>
                    {{
                      expenseControlSelected?.dateExpense | date: "dd/MM/yyyy"
                    }}
                  </td>
                </tr>
                <tr class="table-rows">
                  <td class="header-dialog-colunm">Expense:</td>
                  <td>
                    {{ expenseControlSelected?.expense?.description }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
            Sair
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
