<div class="footer">
  <div class="centralizar">
    <p class="titulo">Base Project - Versão 1.0</p>
  </div>
  <div class="centralizar">
    <p class="autor">Auto: Joshua Maia Rodrigues</p>
    <p class="autor">
      <a href="https://www.linkedin.com/in/joshua-maia-rodrigues-662634110/"
        ><fa-icon [icon]="['fab', 'linkedin']"></fa-icon
      ></a>
      -
      <a href="https://github.com/joshuamaia"
        ><fa-icon [icon]="['fab', 'github']"></fa-icon
      ></a>
    </p>
  </div>
</div>
