.list {
  margin: 20px 0px;
  padding: 20px;
  min-height: 72vh;

  position: relative;
  -webkit-print-color-adjust: exact;
}

.actions {
  text-align: end;
}

.actions-header {
  padding: 10px;
  background: #fff;
  border: 2px solid rgba($color: #3f51b5, $alpha: 0.4);
}

.botoes {
  margin-left: 4px;
  margin-right: 4px;
}

.expense {
  color: red;
}

.revenue {
  color: green;
}
